<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - BlackBlog</title>
    <style>
        nav a {
            color: #c60d35;
            font-size: 1em;
            margin-left: 75px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        {% if 'user' in session %}
            <a href="{{ url_for('index') }}">BlackBlog</a>
            <a href="{{ url_for('get_articles_by_USER', user=session['user']) }}">My Articles</a>
            <a href="{{ url_for('create_article') }}">New Article</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('about') }}">About</a>
        {% else %}
            <a href="{{ url_for('index') }}">BlackBlog</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('about') }}">About</a>
        {% endif%}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>