{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Article {% endblock %}</h1>

    <form method="POST" action="/post">
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}
            {{ form.title(size=20) }}
        </p>

        {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {{ form.article.label }}
        </p>
        {{ form.article(rows=10, cols=100) }}

        {% if form.article.errors %}
            <ul class="errors">
                {% for error in form.article.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <input type="submit" value="Add">
        </p>
    </form>

{% endblock %}